@page "/"

<link href="css/Home.css" rel="stylesheet" />

<PageTitle>Productie sleep app</PageTitle>

<div class="container">
    <div id="left" >
         @foreach (var item in leftList)
         {
             <div class="list" 
                  draggable="true" 
                  >@item</div>
         }
    </div>
    <div id="right">
         @foreach (var item in rightList)
         {
             <div class="list" 
                  draggable="true" 
             >@item</div>
         }
    </div>
</div>

@code
{
    private List<string> leftList = new()
    {
        "List item 1", "List item 2", "List item 3", "List item 4"
    };

    private List<string> rightList = new();
    
}
